<div id="input-panel" class="card-panel blue-grey lighten-5 z-depth-4">
    <div class="input-field">
        <textarea id="text-input" class="materialize-textarea"></textarea>
        <label for="text-input"><b>QSON Input:</b></label>
    </div>
    <div style="text-align:right">
        <button id="submit-input" class="btn waves-effect waves-light" type="submit" name="action">Generate &raquo</button>
    </div>
</div>