<div id="output-panel" class="card-panel blue-grey lighten-5 z-depth-4">
    <div class="input-field">
        <textarea id="text-output" class="materialize-textarea"></textarea>
        <label for="text-output"><b>JSON Output:</b></label>
    </div>
    <div>
        <button id="download-output" class="btn waves-effect waves-light" type="submit" name="action">Download</button>
    </div>
</div>