<div id="output-panel" class="card-panel blue-grey lighten-5 z-depth-4">
	<form method="POST" action="/download">
    <div class="input-field">
        <textarea id="text-output" class="materialize-textarea" name="output"></textarea>
        <label for="text-output"><b>JSON Output:</b></label>
    </div>
    <div>
        <button id="download-output" class="btn waves-effect waves-light" type="submit">Download</button>
    </div>
	</form>
</div>